@model Shop_Nhi.Models.Framework.Product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Pn/Views/Shared/_Layout.cshtml";
}

@section title{
    Thêm sản phẩm
}
@section JsFooter{

    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required')
          .on('keyup blur', 'input', function () {
              validator.checkField.apply($(this).siblings().last()[0]);
          });

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });

        /* FOR DEMO ONLY */
        $('#vfields').change(function () {
            $('form').toggleClass('mode2');
        }).prop('checked', false);

        $('#alerts').change(function () {
            validator.defaults.alerts = (this.checked) ? false : true;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);
    </script>

    <!--Select image-->
<script>
    $('#selectImage').on('click', function () {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $('#image').val(url);
        };
        finder.popup();
    });
 
</script>
}

<p class="text-muted font-13 m-b-30">
    @Html.ActionLink("Quay lại", "Index", "Product", new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    <p>
        Những ô có dấu <code>*</code> là phải nhập đầy đủ thông tin
    </p>
    <span class="section">Nhập thông tin sản phẩm</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            Mã sản phẩm <span class="required"><code>*</code></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.code,  new { @class = "form-control col-md-7 col-xs-12", @required = "required"  })
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            Tên sản phẩm <span class="required"><code>*</code></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.productName,  new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            Ảnh sản phẩm <span class="required"><code>*</code></span>
        </label>
        <div class="col-md-1 col-sm-1 col-xs-12">
            <input id="selectImage" class="btn btn-default" type="button" value="Chọn Ảnh..." />
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">           
            @Html.TextBoxFor(model => model.image, new { @class = "form-control col-md-7 col-xs-12", @required = "required"  })            
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
            Giá sản phẩm <span class="required"><code>*</code></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.price, new { @class = "form-control col-md-7 col-xs-12", @type = "number", @required = "required"  })
        </div>
    </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                Giá khuyến mãi <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.promotionPrice,  new { @class = "form-control col-md-7 col-xs-12", @type = "number"})
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                Số lượng <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.quantity,new { @class = "form-control col-md-7 col-xs-12"  })
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                Chất liệu <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.chatlieu,  new { @class = "form-control col-md-7 col-xs-12"  })
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                Xuất xứ <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.madeIn,  new { @class = "form-control col-md-7 col-xs-12" })
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                Loại hàng <span class="required"><code>*</code></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.categoryID,null, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" } )
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                MetaKeywords <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.metaKeywords,  new { @class = "form-control col-md-7 col-xs-12" })
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                MetaDescription <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.metaDescription, new { @class = "form-control col-md-7 col-xs-12"  })
            </div>
        </div>
    
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
            Mô tả
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextAreaFor(model => model.description, new { @class = "form-control col-md-7 col-xs-12" })
                @*<textarea id="textarea" class="form-control col-md-7 col-xs-12" name="textarea" required="required"></textarea>*@
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                Chi tiết <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextAreaFor(model => model.detail,  new {@id="txtContent", @class = "form-control col-md-7 col-xs-12"  })
            </div>
        </div>     

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Thêm mới" class="btn btn-info" />
                <input type="reset" value="Nhập lại" class="btn btn-default" />
            </div>
        </div>
}

